In [2]:
from tensortrade.data.cdd import CryptoDataDownload
import mplfinance as mpf
import pandas as pd

In [6]:
cdd = CryptoDataDownload()

cdd.fetch("Bitfinex", "USD", "BTC", "1h")

,date,unix,open,high,low,close,volume
0,2018-05-15 06:00:00,1526364000,8723.800000,8793.000000,8714.9,8739.000000,8.988054e+06
1,2018-05-15 07:00:00,1526367600,8739.000000,8754.800000,8719.3,8743.000000,2.288904e+06
2,2018-05-15 08:00:00,1526371200,8743.000000,8743.100000,8653.2,8723.700000,8.891773e+06
3,2018-05-15 09:00:00,1526374800,8723.700000,8737.800000,8701.2,8708.100000,2.054868e+06
4,2018-05-15 10:00:00,1526378400,8708.100000,8855.700000,8695.8,8784.400000,1.730972e+07
...,...,...,...,...,...,...,...
34522,2022-04-24 21:00:00,1650834000000,39526.977727,39670.000000,39505.0,39669.000000,6.064814e+06
34523,2022-04-24 22:00:00,1650837600000,39669.000000,39798.000000,39566.0,39588.000000,2.804386e+06
34524,2022-04-24 23:00:00,1650841200000,39588.000000,39593.585605,39461.0,39480.581239,2.732270e+06
34525,2022-04-25 00:00:00,1650844800000,39473.000000,39526.000000,38706.0,38890.299273,1.581402e+07
34526,2022-04-25 01:00:00,1650848400000,38891.000000,39023.000000,38792.0,38947.233442,3.316250e+06